@import "tailwindcss";

@theme {
  --color-orange: hsl(25, 97%, 53%);

  --color-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(217, 12%, 63%);
  --color-dark-blue: hsl(213, 19%, 18%);
  --color-very-dark-blue: hsl(216, 12%, 8%);

  --font-body: "Overpass", sans-serif;
  /* --font-size-paragraph: 15px; */
}